* {
  margin: 0;
}

a,
a:visited {
  color: #0071d1; /*カラーコードは任意*/
}

header {
  flex: 0 0 auto;
  z-index: 1000;
  background-color: #f4f3ef;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* 下方向に影を追加 */
}

#header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
  font-family: serif;
}

.site-title {
  margin: 0;
  padding: 5px 10px;
  height: 50px;
}

.site-title a {
  font-size: 32px;
  font-weight: normal;
  display: inline-flex;
  align-items: center; /* 上下中央揃え */
  text-decoration: none; /* 下線を消す */
  color: inherit; /* 親の色を継承 */
  gap: 5px;
}

.site-icon {
  height: 40px;
}

#header-navigation {
  display: flex;
  align-items: center; /* 上下中央揃え */
  height: 45px;
  margin-right: 18px;
}

#header-navigation a {
  width: 5em;
  height: 43px;
  padding-top: 2px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  color: rgb(22, 22, 22);
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

#header-navigation a:hover {
  color: #33556a;
  border-bottom: solid 2px lightskyblue;
}

#viewer-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 18px;
  gap: 5px;
  background-color: #baddf3;
}

#controller-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#controller-container > div {
  display: flex;
  align-items: center; /* 上下中央揃え */
  gap: 3px; /* ラベルとスライダーの余白 */
  margin-right: 10px;
}

#controller-container > #line-height-container {
  flex: 2;
  max-width: 300px;
}

#controller-container > #padding-container {
  flex: 3;
  max-width: 400px;
}

#controller-container label {
  width: 2em;
}

#controller-container span {
  margin-right: 3px;
}

#controller-container input {
  flex: 1;
}

button#toggle-direction {
  display: flex;
  align-items: center; /* 上下中央揃え */
  justify-content: center; /* 左右中央揃え */
  height: 34px;
  width: 7.5em;
  padding: 0;
  border: 1px solid #494949;
  border-radius: 8px;
}

button#toggle-nightmode {
  display: flex;
  align-items: center; /* 上下中央揃え */
  justify-content: center; /* 左右中央揃え */
  height: 34px;
  width: 34px;
  padding: 0;
  border: 1px solid #494949;
  border-radius: 8px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #f4f3ef;
}

#novel-container {
  font-size: 16px;
}
#novel-container p {
  font-size: 1em;
}

main {
  flex: 1 1 auto;
  overflow-y: auto; /* 縦スクロール */
  background-color: #f4f3ef;
  color: #262020;
  font-family: serif;

  line-height: 2.1;
  padding-top: 3em;
  padding-bottom: 5em;
  padding-left: 10%;
  padding-right: 10%;
}

/* 縦書き設定時 */
main.vertical {
  flex: 1;
  height: auto;
  overflow-x: auto; /* 横スクロール */
  overflow-y: hidden;
  writing-mode: vertical-rl;
  text-orientation: mixed; /* mixedにすると英数字が横向きになる */
  line-height: 2.1;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 8em;
  padding-right: 5em;
}

#novel-container h1 {
  margin-block-end: 3em;
}

#novel-container h2 {
  margin-block-start: 3em;
  margin-block-end: 3em;
}

#novel-container h3 {
  margin-block-start: 3em;
  margin-block-end: 3em;
  text-indent: 3em;
}

@media (max-width: 599px) {
  #controller-container {
    justify-content: flex-start;
  }
}

@media (max-width: 450px) {
  #controller-container span {
    display: none;
  }
}

span.size-24 {
  font-size: 24px;
  color: #323131;
  font-variation-settings: "OPSZ" 24, "wght" 600;
}

/* その他 */

.pointer {
  cursor: pointer;
}
